@font-face
{
	font-family: 'my';
	src: url('fonts/calibri.ttf');
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Light'), local('Roboto-Light'), url(//fonts.gstatic.com/s/roboto/v18/0eC6fl06luXEYWpBSJvXCBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
}

html, body
{
	background-color: #f1f1f1;
	padding: 0;
	margin: 0;
	font-family: Roboto;
}


/*------header bar------*/
	.header_bar
	{
		position: fixed;
		top:0;
		left:0;
		width:100%;
		height: 50px;
		background-color: white;
		z-index: 100;
	}

	.header_logo_bar
	{
		position: absolute;
		left:0;
		top:0;
		height:100%;
		//background: green;
		margin-left: 3%;
		padding: 5px;
		height: 100%;
		z-index: 100;
		vertical-align: middle;
	}

	.menu_img
	{
		display: inline-block;
		display: none;
	}

	.header_logo_img
	{
		height: 100%;
		vertical-align: middle;/
	}

	.user_area
	{
		position: absolute;
		right:0;
		top:0;
		height:100%;
		margin-right: 5px;
		padding: 4px;
		//background: blue;
		width: auto;
	}

	.user_area_img
	{
		height: 95%;
		padding: 2px;
		cursor: pointer;
	}

	.logged_user_name
	{
		font-size: 100%;
		text-transform: uppercase;
		display: none;
		vertical-align: middle;
	}

	

/*---search bar and search page ------*/
	.search_bar_div
	{
		display: inline-block;
		height: 90%;
		vertical-align: middle;
		margin-right: 10px;
	}

	.search_bar_div_mob
	{
		display: none;
	}

	.search_input
	{
		width: 350px;
		vertical-align: middle;
		height: 100%;
		border-radius: 5px;
		border: none;
		border: 2px solid grey;
		padding: 0;
		margin:0;
	}

	.search_button
	{
		vertical-align: middle;
		height: 90%;
		width: 80px;
		background: grey;
		border: none;
		color: white;
		border-radius: 4px;
		padding: 0;
		margin:0;
	}

	.search_value
	{
		display: none;
	}

	.search_result_div
	{
		width: 100%;
		margin-top: 65px;
		padding:10px;
		text-align: center;
		height: auto;
	}

	.search_result_div2
	{
		background: white;
		width: 100%;
		padding:10px;
		text-align: center;
		font-size: 120%;
		color:red;
	}
	
/*----header bar mini and pc menu--*/
	.header_mini_bar
	{
		position: fixed;
		top:50px;
		left:0;
		width:100%;
		padding: 3px;
		background-color: #F62459;
		z-index: 100;
	}

	.pc_menu
	{
		display: inline-block;
	}

	.pc_menu ul
	{
		list-style: none;
		padding:0;
		margin: 0;
	}

	.pc_menu li
	{
		vertical-align: middle;
		display: inline-block;
		color: white;
		margin-left: 15px;
	}

	.pc_menu li a
	{
		text-decoration: none;
		cursor: pointer;
		font-size: 110%;
		color: white;
	}

	.catog_menu
	{
		display: none;
	}

/*------loader div----*/
	.loader_bckgrnd
	{
		width:100%;
		height:100%;
		background: black;
		z-index:110;
		position: fixed;
		top:0;
		left:0;
		opacity: .5;

		display: none;
	}

	.div_loader	
	{
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1500;
		width: 50%;
		height: 70%;
		margin: auto;
		background: white;
		border-radius: 10px;
		
		display: none;
	}

	.close_loader
	{
		float:right;
		margin: 2px;
		background: black;
		color: white;
		border: none;
		border-radius: 2px;
	}

/*------user area controls----------*/
	.log_reg_button
	{
		width: 100%;
		height: auto;
		background: #333333;
		text-align: center;
		padding: 5px;
	}

	.login_button, .register_button
	{
		width: 200px;
		height: 40px;
		margin:5px;
		border: none;
		border-radius: 3px;
		//box-shadow: 0px 0px 2px grey;
		font-size: 110%;
		background: none;
		color: white;
		border: 1px lightgrey solid;
	}

	.already_logged
	{
		text-align: center;
		margin:auto;
		background: #ff751a;
		color: white;
		border-radius: 5px;
		padding: 5px;
		width: 50%;
	}

	.login_div
	{
		text-align: center;
		//background: red;
		padding: 20px;
	}

	.login_div input
	{
		width: 300px;
		height: 30px;
		background: none;
		border: none;
		border-radius: 5px;
		padding: 3px;
		border: lightgrey 1px solid;
	}

	.login_submit, .register_submit
	{
		background: grey;
		color: white;
		height: 35px;
		border: none;
		border-radius: 5px;
		padding: 5px;
		width: 90px;
	}

	.register_div
	{
		text-align: center;
		padding: 20px;

		display: none;
	}

	.register_div input
	{
		width: 300px;
		height: 30px;
		background: none;
		border: none;
		border-radius: 5px;
		//box-shadow: 0px 0px 1px grey;
		padding: 3px;
		border: lightgrey 1px solid;
	}

	#random_no, #random_no_login
	{
		font-size: 140%;
		color: red;
		height: 40px;
		margin: 10px;
		vertical-align: middle;
	}

	#random_no_input, #random_no_login_input
	{
		vertical-align: middle;
		width: 200px;
		height: 40px;
		background: none;
		border: none;
		border-radius: 5px;
		//box-shadow: 0px 0px 1px grey;
		padding: 3px;
		border: lightgrey 1px solid;
	}

	#reg_feed
	{
		text-align: center;
		margin:auto;
		background: #ff751a;
		color: white;
		border-radius: 5px;
		//padding: 5px;
		width: 50%;
	}

	#reg_feed img
	{
		width: 80%;
	}

	.logout_button
	{
		background: grey;
		color: white;
		height: 35px;
		border: none;
		border-radius: 5px;
		padding: 5px;
		width: 90px;
	}

	.google_login_button
	{
		text-align: center;
		background: yellow;
		margin:auto;
		//width: 100px;
	}

/*-------index page---------*/
	.head_content
	{
		margin-top: 88px;
		z-index: 50;
		width: 100%;
		background-color: #f1f1f1;
		text-align: center;
	}

	.image_slider
	{
		width: 80%;
		display: inline-block;
	}

	.slider
	{
		margin: 0;
		padding: 0;
		text-align: center;
		background-color: #f1f1f1;
	}

	.slider img
	{
		width: 100%;
		background-color: #f1f1f1;
	}

	.catog_pc_div
	{
		display: inline-block;
		vertical-align: top;
		padding-left: 10px;
		background: white;
		width: 18%;
		text-align: left;
		box-shadow: 0px 0px 1px grey;
	}

	.catog_pc
	{
		padding-left:10px;
	}

	.catog_menu_a
	{
		padding:0;
		margin:0;
		color: grey;
		background: none;
		border:none;
		transition: .2s;
		font-size: 110%;
	}

	.catog_menu_a:hover
	{
		color: orange;
	}

	.below_nn, .greater_fifty_per, .trending_deals
	{
		text-align: center;
	}

	.viewed_deal_div
	{
		width: 100%;
		background: #e2e2e2;
		text-align: center;
		padding: 2px;
	}

	.viewed_deal_div .content_div
	{
		margin: 3px;
		box-shadow: 0px 0px 1px grey;
		width: 180px;
		padding: 10px;
	}

	.viewed_deal_div h4
	{
		margin: 0;
		text-align: left;
		padding: 10px;
		background: white;
		width: 100%;
		border: lightgrey 1px solid;
	}

	.content_deal_h4
	{
		margin: 0;
		text-align: left;
		padding: 10px;
		background: white;
		width: 100%;
		border: lightgrey 1px solid;
	}


/*-----content coupon div---*/
	.content_coupon_page
	{
		text-align: center;
		//position: relative;
	}

	.content_coupon_div
	{
		width: 45%;
		margin: 10px;
		height: auto;
		background-color: white;
		box-shadow: 0px 0px 3px grey;
		padding: 5px;
		text-align: left;
		display: inline-block;
	}

	.content_coupon_image
	{
		width: 20%;
		display: inline-block;
		vertical-align: middle;
		text-align: center;
	}

	.content_coupon_image img
	{
		width: 45%;
		padding: 10%;
		//background: red;
	}

	.content_coupon_info
	{
		width: 65%;
		padding: 3px;
		//background-color: green;
		display: inline-block;
		vertical-align: top;
		text-align: left;
	}

	.content_coupon_info h3
	{
		padding: 0;
		margin: 0;
		font-size: 140%;
	}

	.content_coupon_info h4
	{
		padding: 2px;
		margin: 0;
		color: grey;
		font-size: 100%;
	}

	.content_coupon_info span
	{
		color: green;
		//background: red;
	}

	.coupon_code_button
	{
		width: 120px;
		height: 35px;
		border: none;
		float: right;
		background-color: #F62459;
		color: white;
		border-radius: 3px;
	}

	.coupon_loading_div
	{
		width: 70%;
		height: 400px;
		background: white;
		margin:auto;
		position: fixed;
		top:0;
		bottom: 0;
		right:0;
		left:0;
		display: none;
		z-index: 1400;
		border-radius: 5px;
		box-shadow: 0px 0px 5px grey;
		text-align: left;
		overflow: scroll;
	}

	.div_coupon_loader
	{
		padding: 20px;
		text-align: left;
	}

	.div_coupon_loader h3
	{
		padding: 0;
		margin: 5px;
	}

	.close_loader_coupon
	{
		float:right;
		margin: 2px;
		background: black;
		color: white;
		border: none;
		border-radius: 2px;
	}

	.coupon_loader_bckgrnd
	{
		width:100%;
		height:100%;
		background: black;
		z-index:110;
		position: fixed;
		top:0;
		left:0;
		opacity: .5;

		display: none;
	}

	.coupon_desc_image
	{
		width:30%;
		//background: grey;
		display: inline-block;
		vertical-align: top;
		text-align: center;
	}

	.coupon_desc_image img
	{
		width: 50%;
	}

	.coupon_desc_get_code
	{
		width: 65%;
		//background: silver;
		padding: 3px;
		vertical-align: top;
		display: inline-block;
	}

	.content_coupon_code
	{
		background: #F47983;
		padding: 10px;
		color: white;
		border-radius: 3px;
		font-size: 140%;
	}

	.coupon_desc_get_code span
	{
		color:green;
	}

	.coupon_desc_desc
	{
		padding: 3px;
		color: grey;
	}

/*-----------content deal page------*/
	.content_page
	{
		text-align: center;
		background-color: #f1f1f1;
	}

	.content_div
	{
		width: 230px;
		height: auto;
		margin: 15px;
		padding: 10px;
		display: inline-block;
		vertical-align: top;
		box-shadow: 0px 0px 3px grey;
		text-align: center;
		background: white;
	}

	.content_info
	{
		height: 180px;
	}

	.content_info_button
	{
		background: none;
		border:none;
	}

	.content_image
	{
		width: 90%;
		margin:auto;
	}

	.content_image img
	{
		width: 60%;
		
	}

	.content_data
	{
		//background: green;
		text-align: left;
	}

	#content_provider
	{
		color: grey;
		font-size: 90%;
	}

	#content_name
	{
		color: black;
		font-size: 110%;
	}

	.content_price_div
	{
		margin-top: 10%;
		text-align: left;
	}

	#content_price
	{
		color: black;
		font-size: 120%;
		font-weight: bold;
	}

	#time_spent
	{
		color:red;
		font-size: 95%;
	}

	#content_org_price
	{
		text-decoration: line-through;
		color: silver;
	}

	#content_deal
	{
		margin:0;
		padding: 0;
		float: right;
		//text-align: right;
		background: orange;
		padding:5px;
		border-radius: 3px;
		color: white;
		text-decoration: none;
		border: none;
		box-shadow: none;
	}

	#content_deal_id
	{
		display: none;
	}

	.choosed_deal_catog
	{
		//display: none;
	}

	.choosed_deal
	{
		text-align: center;
		width: 100%;
	}

/*------description viewer page--------*/
	.desc_viewer_div
	{
		width: 90%;
		background: white;
		margin: auto;
		margin-top: 90px;
		padding: 2%;
		text-align: center;
	}

	.desc_name
	{
		font-size: 130%;
		text-align: left;
		margin: 3px;
	}

	.desc_info
	{
		//background: yellow;
		text-align: center;
		color: grey;
	}

	.desc_provider
	{
		text-align: left;
	}

	.desc_image
	{
		width: 60%;
	}

	.desc_price
	{
		text-align: left;
		font-size: 200%;
		font-weight: bold;
		color: black;
	}

	.desc_org_price
	{
		text-decoration: line-through;
		color: red;
		text-align: left;
		
	}

	.desc_off
	{
		color: green;
		font-weight: bold;
		text-align: left;
		font-size: 120%;
	}

	.desc_deal a
	{
		color: white;
		text-decoration: none;
		padding: 15px;
		background: orange;
		color: white;
		font-size: 110%;
	}

	.desc_deal a:hover
	{
		color: white;
		text-decoration: none;
		
	}

	.desc_desc
	{
		margin-top: 50px;
		//background: red;
	}

	.sugg_from_provider_div
	{
		text-align: center;
	}

	.sugg_from_provider_div h3
	{
		text-align: left;
	}

/*--------footer-----*/
	.footer_div
	{
		//position: absolute;
		width: 100%;
		overflow: hidden;
	}

	.email_subs
	{
		text-align: center;
		background: #282828;
		width: 100%;
		padding: 10px;
		margin: 0;
	}

	.email_subs img
	{
		width: 5%;
		padding:0;
		margin:0;
	}

	.email_subs input
	{
		width: 280px;
		height: 35px;
		border-radius: 3px;
		padding: 4px;
		border: none;
		margin: 5px;
	}

	.email_subs button
	{
		height: 35px;
		border-radius: 3px;
		border: none;
		width: 100px;
		margin: 5px;
	}

	.email_subs_text
	{
		color: white;
	}

	.email_subs_feed
	{
		font-size: 90%;
	}

	.footer
	{
		background: #282828;
		width: 100%;
		color: white;
		//border-top:1px solid #404040;
		padding:10px;
	}

	.site_map
	{
		padding: 10px;
		text-align: center;
		//background: red;
	}

	.site_map img
	{
		width:40%;
		margin: 10px;
	}

	.site_map_ul
	{
		padding:0;
		margin: 0;
		//background: yellow;
	}

	.site_map_ul li
	{
		text-decoration: none;
		color:white;
		display: inline-block;
		margin-left: 5px;
		margin-right: 5px;
	}

	.site_map_ul a
	{
		color: silver;
	}

	.site_map_ul a:hover
	{
		color: white;
		text-decoration: none;
	}

	.add
	{
		padding: 10px;
		font-size: 90%;
	}

	.add h4
	{
		padding: 0;
		margin: 0;
	}

	.add span
	{
		margin-left: 20px;
		color: silver;
	}

	.add img
	{
		padding: 3px;
		width:10%;
	}

	.add a
	{
		margin-left: 20px;
		color: silver;
	}

	.add a:hover
	{
		color: white;
		text-decoration: none;
	}

	.social
	{
		//background: yellow;
		padding: 10px;
		font-size: 90%;
	}

	.social h4
	{
		padding: 0;
		margin: 0;
	}

	.social a
	{
		margin-left: 20px;
		color: silver;
	}

	.social a:hover
	{
		color: white;
		text-decoration: none;
	}

	.social img
	{
		padding: 3px;
		width:10%;
	}

	.final_footer
	{
		background: #1f1f1f;
		width: 100%;
		color: white;
		border-top:1px solid #404040;
		padding: 8px;
		font-size: 85%;
		text-align: center;
	}

	.final_footer a 
	{
		color: grey;
	}

	.final_footer a:hover
	{
		text-decoration: none;
		color: grey;
	}

/*--------media queries for less than 800px----------*/

	@media screen and (max-width: 800px)
	{
	/*---for index page--*/
		.catog_pc_div
		{
			display: none;
			
		}

		.image_slider
		{
			width: 100%;
			display: inline-block;
		}

	/*-----header bar and search bar---*/
		.search_bar_div
		{
			display: none;
		}

		.search_bar_div_mob
		{
			display: block;
			position: fixed;
			top: 50px;
			left:0;
			width:100%;
			height: 40px;
			background: white;
			z-index: 100;
			text-align: center;
			padding: 5px;
			//box-shadow: 0px 0px 5px grey;
			border-bottom: 1px grey solid;
		}

		.search_input_mob
		{
			width: 75%;
			height: 30px;
			vertical-align: middle;
			border-radius: 3px;
			border: none;
			border: 2px solid grey;
		}

		.search_button_mob
		{
			width: 20%;
			height: 30px;
			vertical-align: middle;
			background: grey;
			border: none;
			color: white;
			border-radius: 4px;
		}
		
		.header_logo_bar
		{
			margin-left: 0%;
		}

		.menu_img
		{
			display: inline-block;
			height: 100%;
			padding: 8px;
			cursor: pointer;
		}

	/*----header bar mini----*/
		.header_mini_bar
		{
			background-color: white;
			box-shadow: 0px 0px 0px grey;
			z-index: 50;
			color: white;
		}

		.pc_menu
		{
			position: fixed;
			display: block;
			top: 90px;
			left:-225px;
			height:100%;
			background: white;
			padding-left: 20px;
			padding-right: 40px;
			overflow: scroll;
			box-shadow: 0px 0px 3px grey;
		}

		.pc_menu li
		{
			vertical-align: middle;
			display: block;
			margin:0;
			margin-top: 5%;
			font-size: 105%;
		}

		.pc_menu li a
		{
			color: black;
		}

		.catog_menu
		{
			position: relative;
			top: 0;
			left: 0px;
			background: white;
			padding-left: 20%;
			display: block;
		}

		.catog_menu_a
		{
			padding:0;
			margin:0;
			color: grey;
			background: none;
			border:none;
		}
	
	/*-----------content deal and coupon page------*/
		.content_deal_page
		{
			text-align: center;
		}

		.content_div
		{
			width: 150px;
			padding: 4px;
			margin: 3px;
		}

		.content_info
		{
			height: 150px;
			font-size: 90%;
			//background: red;
		}

		.content_price_div
		{
			//border-top: 1px solid silver;
			//background: blue;
			margin-top: 10%;
			text-align: left;
			font-size: 85%;
		}

		.email_subs img
		{
			width: 20%;
		}

		.content_coupon_div
		{
			width: 90%;
			//height: 120px;
			background-color: white;
			box-shadow: 0px 0px 3px grey;
			padding: 5px;
			margin: auto;
			margin-bottom: 20px;
			text-align: left;
		}

		.content_coupon_image img
		{
			width: 80%;
			padding: 10%;
			//background: red;
			vertical-align: bottom;
		}

		.coupon_loading_div
		{
			width: 85%;
		}

		.viewed_deal_div .content_div
		{
			margin: 3px;
			width: 150px;
			//max-height: 80%;
		}


	/*-------div loader---*/
		.login_submit, .register_submit
		{
			padding: 0;
			margin: 0;
		}

		.div_loader	
		{
			width: 95%;
			height: 85%;
			padding: 0;
		}

		.register_div input, .login_div input
		{
			width: 250px;
			height: 30px;
			padding: 3px;
			border: lightgrey 1px solid;
		}


		#random_no_input, #random_no_login_input
		{
			width: 150px;
		}

		.logged_user_name
		{
			font-size: 90%;
		}

	}


/*--------media queries for less than 600px----------*/

	@media screen and (max-width: 620px)
	{
		
	}
