@font-face
{
	font-family: 'my';
	src: url('fonts/calibri.ttf');
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Light'), local('Roboto-Light'), url(//fonts.gstatic.com/s/roboto/v18/0eC6fl06luXEYWpBSJvXCBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
}

html, body
{
	background-color: #f1f1f1;
	padding: 0;
	margin: 0;
	font-family: Roboto;
}

.page_content
{
	margin-top: 100px;
}

.choosed_catog_h4
{
	margin: 0;
	text-align: left;
	padding: 10px;
	background: white;
	width: 100%;
	border: lightgrey 1px solid;
}


/*------header bar------*/
	.header_bar
	{
		position: fixed;
		top:0;
		left:0;
		width:100%;
		height: 50px;
		background-color: white;
		//background: blue;
		z-index: 100;
	}

	.header_logo_img
	{
		margin-left: 1.5%;
		height: 85px;
		vertical-align: middle;
		box-shadow: 0px 0px 5px grey;
	}

	.header_logo_mob
	{
		display: none;
	}

	.header_logo_bar
	{
		padding: 5px;
		height: 100%;
		width: 82%;
		//width: auto;
		vertical-align: top;
		//background: green;
		display: inline-block;
	}

	.menu_img
	{
		display: inline-block;
		display: none;
	}

	.user_area
	{
		position: absolute;
		right:0;
		top:0;
		height:100%;
		margin-right: 25px;
		padding: 4px;
		width: auto;
	}

	.user_area_img
	{
		height: 95%;
		padding: 2px;
		cursor: pointer;
	}

	.pc_menu
	{
		display: inline-block;
		margin-left: 1%;
	}

	.pc_menu ul
	{
		list-style: none;
		padding:0;
		margin: 0;
	}

	.pc_menu li
	{
		vertical-align: middle;
		display: inline-block;
		margin-left: 7px;
		margin-right: 7px;
		font-size: 120%;
		font-weight: 500;
	}

	.pc_menu li a
	{
		text-decoration: none;
		cursor: pointer;
		color:  black;
	}

	.pc_menu li a:hover
	{
		color:  #cc0000;
	}

	.catog_menu
	{
		display: none;
	}

/*---search bar and search page ------*/
	.search_bar_div
	{
		display: inline-block;
		height: 90%;
		vertical-align: middle;
		border: 1.5px solid grey;
		border-radius: 2px;
		width: 420px;
		text-align: center;
	}

	.search_bar_div_mob
	{
		display: none;
	}

	.search_bar_div form
	{
		padding: 0;
		margin: 0;
	}

	.search_input
	{
		width: 90%;
		vertical-align: middle;
		height: 100%;
		border: none;
		background: none;
		padding: 2px;
		margin:0;
	}

	.search_button
	{
		vertical-align: middle;
		height: 100%;
		width: 8%;
		background: none;
		border: none;
		color: white;
		padding: 0;
		margin:0;
	}

	.search_button img
	{
		height: 100%;
		padding: 5px;
	}

	.search_value
	{
		display: none;
	}

	.search_deal_div, .search_coupon_div, .search_service_div
	{
		width: 100%;
		padding:10px;
		text-align: center;
	}

	.search_result_div2
	{
		background: white;
		width: 100%;
		padding:10px;
		text-align: center;
		font-size: 120%;
		color:red;
	}
	
/*----header bar mini ---*/
	.header_mini_bar
	{
		position: fixed;
		top: 50px;
		height: 35px;
		left:0;
		width:100%;
		background-color: #cc0000;
		z-index: 90;
	}

	.selected_tab
	{
		display: none;
	}

	.deals_tab
	{
		margin: 0;
		padding: 0;
		padding-left: 170px;
		vertical-align: middle;
		height: 100%;
		//background: blue;
	}

	.deals_tab button
	{
		background: none;
		padding: 0;
		margin: 0;
		border: none;
		display: inline-block;
		padding-left: 12px;
		padding-right: 12px;
		color: white;
		vertical-align: middle;
		line-height: 35px;
	}
	
	.deals_tab button:hover
	{
		color: lightgrey;
	}

	.deals_div
	{
		text-align: center;
		padding: 2px;
	}

	.deal_tab_h4
	{
		margin: 0;
		text-align: left;
		padding: 10px;
		background: white;
		width: 100%;
		border: lightgrey 1px solid;
	}

/*------loader div----*/
	.loader_bckgrnd
	{
		width:100%;
		height:100%;
		background: none;
		z-index:110;
		position: fixed;
		top:0;
		left:0;
		opacity: .5;
		display: none;
	}

	.div_loader	
	{
		position: fixed;
		top: 83px;
		right: 0;
		z-index: 1500;
		width: 20%;
		height: auto;
		background: white;
		box-shadow: 0px 0px 5px grey;
		display: none;
	}

	.close_loader
	{
		float:right;
		margin: 2px;
		background: black;
		color: white;
		border: none;
		border-radius: 2px;
		display: none;
	}

/*------user area controls----------*/
	.log_reg_button
	{
		width: 100%;
		height: auto;
		background: #333333;
		padding: 0;
		margin: 0;
		text-align: center;
	}

	.login_button, .register_button
	{
		margin: 0;
		padding: 5px;
		background: none;
		//background: #cc0000;
		border:none;
		width: 49.2%;
		color: white;
		height: 40px;
	}

	.already_logged
	{
		text-align: center;
		margin:auto;
		background:  #cc0000;
		color: white;
		border-radius: 5px;
		padding: 5px;
		width: 85%;
	}

	.login_div
	{
		text-align: center;
		//background: red;
		padding: 20px;
	}

	.login_div input
	{
		width: 90%;
		height: 30px;
		background: none;
		border: none;
		border-radius: 5px;
		padding: 3px;
		border: lightgrey 1px solid;
	}

	.login_submit, .register_submit
	{
		background: grey;
		color: white;
		height: 30px;
		border: none;
		border-radius: 3px;
		padding: 5px;
		width: 80px;
	}

	.register_div
	{
		text-align: center;
		padding: 20px;

		display: none;
	}

	.register_div input
	{
		width: 90%;
		height: 30px;
		background: none;
		border: none;
		border-radius: 5px;
		//box-shadow: 0px 0px 1px grey;
		padding: 3px;
		border: lightgrey 1px solid;
	}

	#random_no
	{
		font-size: 140%;
		color: red;
		height: 40px;
		margin: 10px;
		vertical-align: middle;
	}

	#reg_feed
	{
		text-align: center;
		margin:auto;
		background: #ff751a;
		color: white;
		border-radius: 2px;
		width: 80%;
	}

	#reg_feed img
	{
		width: 80%;
	}

	.logout_button
	{
		background: grey;
		color: white;
		height: 30px;
		border: none;
		border-radius: 5px;
		padding: 5px;
		width: 80px;
	}

/*---forgot password controls---*/
	.forgot_pass
	{
		font-size: 90%;
		cursor: pointer;
		color: grey;
	}

	.recovery_div, .new_pass_div, .forgot_div
	{
		display: none;
	}

	.forgot_button, .recovery_button, .back_to_login, .new_pass_button
	{
		background: grey;
		color: white;
		height: 30px;
		border: none;
		border-radius: 5px;
		padding: 5px;
		width: 80px;
	}

	.recovery_email
	{
		font-size: 110%;
		color: #cc0000;
	}

/*-------index page---------*/
	.head_content
	{
		z-index: 50;
		width: 100%;
		background-color: #f1f1f1;
		text-align: center;
	}

	.image_slider
	{
		width: 80%;
		display: inline-block;
		height: 250px;
		overflow: hidden;
	}

	.slider
	{
		margin: 0;
		padding: 0;
		text-align: center;
		background-color: #f1f1f1;
	}

	.slider img
	{
		width: 100%;
		background-color: #f1f1f1;
	}

	.catog_pc_div
	{
		display: inline-block;
		vertical-align: top;
		padding-left: 10px;
		background: white;
		width: 18%;
		text-align: left;
		box-shadow: 0px 0px 1px grey;
		overflow-y: scroll;
		height: 250px;
	}

	.catog_pc
	{
		padding-left:10px;
	}

	.catog_menu_a
	{
		padding:0;
		margin:0;
		color: grey;
		background: none;
		border:none;
		transition: .2s;
		font-size: 110%;
	}

	.catog_menu_a:hover
	{
		color: #cc0000;
	}

	.deals_catog_options, .coupons_catog_options, .services_catog_options
	{
		display: none;
	}

	.viewed_deal_div
	{
		width: 100%;
		background: #e2e2e2;
		text-align: center;
	}

	.viewed_deal_div h4
	{
		margin: 0;
		text-align: left;
		padding: 10px;
		background: white;
		width: 100%;
		border: lightgrey 1px solid;
	}

	.content_deal_h4
	{
		margin: 0;
		text-align: left;
		padding: 10px;
		background: white;
		width: 100%;
		border: lightgrey 1px solid;
	}

/*-----content coupon div---*/
	.content_coupon_page
	{
		text-align: center;
	}

	.content_coupon_div
	{
		width: 30%;
		margin: 10px;
		background-color: white;
		box-shadow: 0px 0px 3px grey;
		padding: 5px;
		text-align: left;
		display: inline-block;
		transition: .8s;
	}

	.content_coupon_div:hover
	{
		transform: scale(1.05 ,1.05);
	}

	.content_coupon_image
	{
		width: 35%;
		display: inline-block;
		text-align: center;
		overflow: hidden;
		vertical-align: top;
	}

	.content_coupon_image img
	{
		width: 80%;
		vertical-align: top;
	}

	.content_coupon_info
	{
		width: 60%;
		height: 120px;
		padding: 3px;
		display: inline-block;
		vertical-align: top;
	}

	.content_coupon_info h3
	{
		padding: 0;
		margin: 0;
		font-size: 130%;
	}

	.content_coupon_info h4
	{
		padding: 0px;
		margin: 0;
		color: grey;
		font-size: 90%;
	}

	.content_coupon_info span
	{
		color: green;
	}

	.coupon_code_button
	{
		width: 50%;
		height: 35px;
		border: none;
		background-color: #cc0000;
		color: white;
		border-radius: 3px;
		float: right;
	}

	.coupon_code_button a
	{
		color: white;
	}

	.coupon_code_button a:hover
	{
		color: white;
		text-decoration: none;
	}

/*-----coupon description page--------*/
	.coupon_loading_div
	{
		width: 70%;
		height: 400px;
		background: white;
		margin:auto;
		position: fixed;
		top:0;
		bottom: 0;
		right:0;
		left:0;
		display: none;
		z-index: 1400;
		border-radius: 5px;
		box-shadow: 0px 0px 5px grey;
		text-align: left;
		overflow-y: scroll;
	}

	.div_coupon_loader
	{
		padding: 10px;
		text-align: left;
	}

	.div_coupon_loader h3
	{
		padding: 0;
		margin: 5px;
	}

	.close_loader_coupon
	{
		float:right;
		margin: 2px;
		background: black;
		color: white;
		border: none;
		border-radius: 2px;
	}

	.coupon_loader_bckgrnd
	{
		width:100%;
		height:100%;
		background: black;
		z-index:110;
		position: fixed;
		top:0;
		left:0;
		opacity: .5;

		display: none;
	}

	.coupon_desc_image
	{
		width:30%;
		display: inline-block;
		vertical-align: top;
		text-align: center;
		overflow: hidden;
	}

	.coupon_desc_image img
	{
		width: 70%;
	}

	.coupon_desc_get_code
	{
		width: 67%;
		padding: 0px;
		vertical-align: top;
		display: inline-block;
	}

	.coupon_desc_get_code h3
	{
		padding:0;
		margin: 0;

	}

	.coupon_desc_get_code h5
	{
		padding:0;
		margin: 0;
		color: grey;
	}

	.content_coupon_code
	{
		width: 100%;
		background: #cc0000;
		padding: 10px;
		color: white;
		border-radius: 2px;
	}

	#p1
	{
		color: white;
		font-size: 130%;
		vertical-align: middle;
	}

	#copy_code
	{
		background: #ff0000;
		color:white;
		border:none;
		padding: 0;
		margin: 0;
		margin-left: 5%;
		padding: 5px;
		border-radius: 2px;
		width: 100px;
		font-size: 115%;
		vertical-align: middle;
		clear: both;
	}

	.coupon_desc_link
	{
		font-size: 110%;
	}

	.coupon_desc_link:hover
	{
		text-decoration: none;
	}
	
	.coupon_desc_get_code span
	{
		color:green;
	}

	.coupon_desc_desc
	{
		padding: 3px;
		color: grey;
	}

/*------content deal page----*/
	.load_more_deal
	{
		text-align: center;
		padding: 4px;
		width: 40%;
		margin: auto;
		background: white;
		box-shadow: 0px 0px 5px grey;
		border-radius: 50px;
		cursor: pointer;
		font-size: 115%;
		font-weight: bold;

		display: none;
	}

	.content_deal_page
	{
		text-align: center;
	}

	.content_div
	{
		width: 230px;
		height: auto;
		margin: 10px;
		padding: 8px;
		display: inline-block;
		vertical-align: top;
		box-shadow: 0px 0px 3px grey;
		background: white;
		text-align: left;
		transition: .7s;
	}

	.content_div:hover
	{
		transform: scale(1.05 ,1.05);
	}

	.content_div form
	{
		padding: 0;
		margin: 0;
	}

	.content_info_button
	{
		border:none;
		padding: 0px;
		width: 100%;
		background: none;
		overflow: hidden;
		text-align: left;
	}

	.content_image img
	{
		height: 120px;
		display: block;
		margin:auto;
	}

	#content_provider
	{
		color: grey;
		font-size: 85%;
	}

	#content_name
	{
		height: 55px;
		overflow: hidden;
	}

	#content_note
	{
		color: #2BA828;
		font-weight: 500;
		height: 20px;
		overflow: hidden;
		font-weight: 600;
	}

	.content_like_time
	{
		//background: blue;
		width: 100%;
		text-align: center;
	}

	.content_time
	{
		//background: green;
		width: 48%;
		font-size: 90%;
		vertical-align: middle;
		text-align:left;
		display: inline-block;
		color: red;
	}

	.content_like
	{
		//background: green;
		width:48%;
		vertical-align: middle;
		text-align:right;
		display: inline-block;
	}

	.content_like img
	{
		width: 30%;
	}

	.content_price_div
	{
		border-top: 1px solid lightgrey;
		padding: 0;
		padding-top: 2px;
		padding-bottom: 5px;
		height: 30px;
	}

	#content_price
	{
		color: black;
		font-size: 120%;
	}

	#content_org_price
	{
		text-decoration: line-through;
		color: silver;
	}

	#content_off
	{
		color: #59B9D9;
		font-weight: bolder;
		padding: 1px;
		float: right;
		border:.5px solid silver;
		border-radius: 2px;
	}

	#content_deal
	{
		margin:0;
		padding: 0;
		background:  #cc0000;
		text-align: center;
		padding:5px;
		width: 100%;
	}

	#content_deal a
	{

		color: white;
		text-decoration: none;
	}

	.choosed_deal
	{
		text-align: center;
		width: 100%;
	}

	.content_div_no
	{
		display: none;
	}

/*------ deal & service description page--------*/
	.desc_viewer_div
	{
		width: 90%;
		background: white;
		margin: auto;
		padding: 2%;
		text-align: center;
	}

	.desc_name
	{
		font-size: 140%;
		margin-bottom: 3px;
	}

	.desc_info
	{
		//background: yellow;
		text-align: center;
		overflow: hidden;
		height: auto;
		vertical-align: top;
	}

	.desc_image
	{
		width: 70%;
		//background: red;
	}

	.desc_likes
	{
		margin-top: 40px;
		//background: green;
		vertical-align: bottom;
	}

	.desc_time_spent
	{
		vertical-align: middle;
		width: 49%;
		display: inline-block;
		color: red;
		//background: blue;
		text-align: left;
		font-size: 93%;
	}

	.like_click
	{
		//background: red;
		width: 49%;
		display: inline-block;
		text-align: right;
		vertical-align: middle;
	}

	.like_click img
	{
		width: 14%;
		cursor: pointer;
		vertical-align: middle;
		transition: .5s;
		cursor: pointer;
		
	}

	.like_click img:hover
	{
		//transform: scale(1.2,1.2);
		animation-name: heartblink;
		animation-duration: .6s;
		animation-direction: alternate;
		animation-iteration-count: infinite;
	}

	@keyframes heartblink
	{
		0% {}
		100% {transform: scale(1.2,1.2);}
	}

	.like_text
	{
		display: none;
	}
	.desc_desc
	{
		vertical-align: top;
		text-align: left;
	}

	.desc_provider
	{
		text-align: left;
		color: grey;
	}
	
	.desc_note
	{
		font-weight: 600;
		color:#2BA828;
	}

	.desc_location
	{
		color: green;
	}

	.desc_price
	{
		font-size: 200%;
		font-weight: bold;
		color: black;
	}

	.desc_org_price
	{
		text-decoration: line-through;
		color: red;
	}

	.desc_off
	{
		color: #59B9D9;
		font-weight: bold;
		font-size: 115%;
	}

	.desc_deal a
	{
		color: white;
		text-decoration: none;
		padding: 15px;
		background: #990000;
		color: white;
		font-size: 110%;
	}

	.desc_deal a:hover
	{
		color: white;
		text-decoration: none;
	}

	.desc_service_code_button a
	{
		color: white;
		text-decoration: none;
		padding: 15px;
		background: #990000;
		color: white;
		font-size: 110%;
		cursor: pointer;
	}

	.desc_service_code_button a:hover
	{
		color: white;
		text-decoration: none;
	}

	.desc_service_code_area
	{
		display: none;
	}

	.desc_service_link:hover
	{
		text-decoration: none;
	}

	.desc_service_code
	{
		font-size: 130%;
		font-weight: 600;
		color: white;
		background: #990000;
		padding: 10px;
	}

	.desc_id
	{
		opacity: 0;
	}

	.sugg_from_provider_div
	{
		text-align: center;
	}

	.sugg_from_provider_div h3
	{
		text-align: left;
	}

/*-----service page------*/
	.loader_service_bckgrnd
	{
		width:100%;
		height:100%;
		background: black;
		z-index:110;
		position: fixed;
		top:0;
		left:0;
		opacity: .5;
		//display: none;
	}

	.set_location_div
	{

	}

	.location_div
	{
		z-index:120;
		position: fixed;
		top:0px;
		left:0;
		right:0;
		margin:auto;
		width: 80%;
		height: 40%;
		padding:10px;
		background: white;
		text-align: center;
	}

	.service_location
	{
		background: none;
		border:none;
	}

	.service_location:hover
	{
		color: red;
	}

	.service_location_div
	{
		display: none;
	}

	.choosed_service_location
	{
		background: lightgrey;
		border: none;
		margin: 0;
		padding: 0;
		padding: 2px;
		border: 1px grey solid;
		padding-left: 8px;
		padding-right: 8px;
		border-radius: 8px;
	}

/*-----content service div--*/
	.content_service_page
	{
		text-align: center;
	}

	.content_service_div
	{
		width: 215px;
		height: auto;
		margin: 10px;
		padding: 8px;
		display: inline-block;
		vertical-align: top;
		box-shadow: 0px 0px 3px grey;
		background: white;
		text-align: left;
		transition: .7s;
	}

	.content_service_div:hover
	{
		transform: scale(1.05 ,1.05);
	}

	.content_service_div form
	{
		padding: 0;
		margin: 0;
	}

	.content_service_info_button
	{
		border:none;
		padding: 0px;
		width: 100%;
		background: none;
		overflow: hidden;
		text-align: left;
	}

	.content_service_image img
	{
		height: 120px;
		display: block;
		margin:auto;
	}

	#content_service_provider
	{
		color: grey;
		font-size: 85%;
	}

	#content_service_name
	{
		height: 55px;
		overflow: hidden;
		//background: red;
	}

	#content_service_location
	{
		color: green;
		//background: blue;
	}	

	.content_service_like_time
	{
		//background: blue;
		width: 100%;
		text-align: center;
	}

	.content_service_time
	{
		//background: green;
		width: 48%;
		font-size: 90%;
		vertical-align: middle;
		text-align:left;
		display: inline-block;
		color: red;
	}

	.content_service_like
	{
		//background: green;
		width:48%;
		vertical-align: middle;
		text-align:right;
		display: inline-block;
	}

	.content_service_like img
	{
		width: 30%;
	}

	.content_service_price_div
	{
		border-top: 1px solid lightgrey;
		padding: 0;
		padding-top: 2px;
		padding-bottom: 5px;
		height: 30px;
	}

	#content_service_price
	{
		color: black;
		font-size: 120%;
	}

	#content_service_org_price
	{
		text-decoration: line-through;
		color: silver;
	}

	#content_service_off
	{
		color: #59B9D9;
		font-size: 105%;
		font-weight: bolder;
		padding: 2px;
		float: right;
		border:.5px solid silver;
		border-radius: 2px;
	}

	#catch_service
	{
		margin:0;
		padding: 0;
		background:  #cc0000;
		padding:5px;
		width: 100%;
		color: white;
		text-decoration: none;
		border: none;
		box-shadow: none;
	}

	.selected_location
	{
		//background: none;
		border: none;
		border: 1px solid grey;
		margin: 0;
		//padding:0;
		//padding: 3px;
		border-radius: 8px;
	}

/*------ask page-------*/
	.ask_page
	{
		text-align: center;
		font-size: 110%;
	}

	.ask_name
	{
		color: black;
		padding: 10px;
	}

	.ask_text
	{
		width: 60%;
		height: 20%;
		padding: 0;
	}

	.ask_button
	{
		margin: 0;
		padding: 5px;
		background: none;
		background: #cc0000;
		border:none;
		width: 40%;
		color: white;
		height: 40px;
	}

/*--------footer-----*/
	.footer_div
	{
		width: 100%;
		overflow: hidden;
		background: #333;
	}

	.email_subs
	{
		text-align: center;
		width: 100%;
		padding: 10px;
		margin: 0;
		background: #3e3e3e;
	}

	.email_subs img
	{
		width: 5%;
		padding:0;
		margin:0;
	}

	.email_subs input
	{
		width: 280px;
		height: 35px;
		border-radius: 3px;
		padding: 4px;
		border: none;
		margin: 5px;
	}

	.email_subs button
	{
		height: 35px;
		border-radius: 3px;
		border: none;
		width: 100px;
		margin: 5px;
	}

	.email_subs_text
	{
		color: white;
	}

	.email_subs_feed
	{
		font-size: 90%;
	}

	.footer
	{
		width: 100%;
		color: white;
		padding:10px;
	}

	.site_map
	{
		padding: 10px;
		text-align: center;
	}

	.site_map ul
	{
		padding: 0;
		margin: 0;
		list-style: none;
		text-align: left;
		display: inline-block;
		vertical-align: top;
		//background: red;
		margin-left: 30px;
	}

	.site_map li
	{
		list-style: none;
		color:white;
	}

	.site_map a
	{
		color: silver;
	}

	.site_map a:hover
	{
		color: white;
		text-decoration: none;
	}

	.add
	{
		padding: 10px;
	}

	.add img
	{
		width: 35%;
		margin:auto;
		display: block;
		//background: green;
	}

	.social
	{
		//background: yellow;
		padding: 10px;
		font-size: 90%;
	}

	.social h5
	{
		padding: 0;
		margin: 0;
		//text-align: left;
	}

	.social a
	{
		margin-left: 10px;
		color: silver;
	}

	.social a:hover
	{
		color: white;
		text-decoration: none;
	}

	.social img
	{
		padding: 5px;
		width: 10%;
	}

	.final_footer
	{
		width: 100%;
		color: white;
		border-top: 1px solid #404040;
		padding: 8px;
		font-size: 85%;
		text-align: center;
		background: #1f1f1f;
	}

	.final_footer a 
	{
		color: grey;
	}

	.final_footer a:hover
	{
		text-decoration: none;
		color: grey;
	}

	.run_link_div
	{
		text-align: center;
		display: inline-block;
		margin:0;
		padding: 0;

		display: none;
	}

	.run_link_div iframe
	{
		width:50px;
		height: 50px;
		display: inline-block;
		padding: 0;
		margin: 0;
	}

/*------footer divs------*/
	.career_div
	{
		padding: 20px;
	}

	.career_div img
	{
		width: 30px;
	}

	.sitemap_page
	{
		padding-left:10%;
	}

	.sitemap_page a
	{
		color: grey;
	}

/*--------media queries for less than 800px----------*/

	@media screen and (max-width: 1000px)
	{

		.page_content
		{
			margin-top: 118px;
		}

		.email_subs img
		{
			width: 20%;
		}

		.social
		{
			text-align: center;
		}

	/*---for index page--*/
		.catog_pc_div
		{
			display: none;
		}

		.image_slider
		{
			width: 100%;
			height: 100px;
		}

	/*-----header bar and search bar---*/
		.header_logo_bar
		{
			width: 70%;
			//background: blue;
		}

		.header_logo_img
		{
			display: none;
		}

		.header_logo_mob
		{
			height: 40px;
			margin-left: 1%;
			display: inline-block;
		}

			.user_area
		{
			margin-right: 10px;
			padding: 4px;
			width: auto;
		}

		.search_bar_div
		{
			display: none;
		}

		.search_bar_div_mob
		{
			display: block;
			position: fixed;
			top: 82px;
			left:0;
			height: 35px;
			width: 100%;
			z-index: 101;
			text-align: center;
			border: 1.5px solid grey;
			border-radius: 2px;
			background: white;
			padding: 0;
		}

		.search_input_mob
		{
			width: 90%;
			height: 90%;
			vertical-align: middle;
			background: none;
			border: none;
			padding: 0;
			margin:0;
		}

		.menu_img
		{
			display: inline-block;
			height: 100%;
			padding: 8px;
			cursor: pointer;
		}

	/*----header bar mini----*/
		.deals_tab
		{
			margin:0;
			font-size: 85%;
			text-align: center;
			padding: 0;
		}

		.deals_tab button
		{
			margin:0;
			padding: 0;
			padding-left: 2px;
			padding-right: 2px;
		}

	/*-----menu bar for phones----*/
		.pc_menu
		{
			position: fixed;
			display: block;
			top: 115px;
			left:-250px;
			height:100%;
			background: white;
			margin: 0;
			padding-left: 40px;
			padding-right: 50px;
			overflow-y: scroll;
			box-shadow: 0px 0px 5px grey;
		}

		.pc_menu li
		{
			vertical-align: middle;
			display: block;
			margin:0;
			margin-top: 5%;
			font-size: 105%;
		}

		.pc_menu li a
		{
			color: black;
		}

		.catog_menu
		{
			display: block;
			padding-left: 20%;
			font-size: 90%;
		}

		.catog_menu_a
		{
			padding:0;
			margin:0;
			color: grey;
			background: none;
			border:none;
		}

	/*------content deal page----*/
		.content_div
		{
			width: 170px;
			height: auto;
			margin: 2px;
			padding: 3px;
		}

		.content_div:hover
		{
			transform: scale(1 ,1);
		}

		.content_info_button
		{
			border:none;
			padding: 0px;
			width: 100%;
			background: none;
			overflow: hidden;
			text-align: left;
		}

		.content_image img
		{
			height: 90px;
			display: block;
			margin:auto;
		}

		#content_price
		{
			color: black;
			font-size: 115%;
		}

	/*-----content service div--*/
		.content_service_div
		{
			width: 160px;
			height: auto;
			margin: 3px;
			padding: 3px;
		}

		.content_service_div:hover
		{
			transform: scale(1 ,1);
		}

		.content_service_info_button
		{
			border:none;
			padding: 0px;
			width: 100%;
			background: none;
			overflow: hidden;
			text-align: left;
		}

		.content_service_image img
		{
			height: 90px;
			display: block;
			margin:auto;
		}

		#content_service_price
		{
			color: black;
			font-size: 115%;
		}

	/*-----content coupon div---*/
		.content_coupon_div
		{
			width: 90%;
			margin: 10px;
			height: auto;
		}

		.content_coupon_div:hover
		{
			transform: scale(1 ,1);
		}

	/*-----coupon description page--------*/
		.coupon_loading_div
		{
			width: 90%;
			text-align: center;
			height: 80%;
		}

		.coupon_desc_image
		{
			width:100%;
			display: inline-block;
			vertical-align: top;
			text-align: center;
			overflow: hidden;
		}

		.coupon_desc_image img
		{
			width: 50%;
		}

		.coupon_desc_get_code
		{
			width: 100%;
			padding: 0px;
			vertical-align: top;
			display: inline-block;
		}

	/*-------div loader---*/
		.login_submit, .register_submit
		{
			padding: 0;
			margin: 0;
		}

		.div_loader	
		{
			top: 83px;
			width: 100%;
			padding: 0;
		}

	}
